<div>
    <h2>Food List component:</h2>
    <div class="foods-table">
        <div>Food Name</div>
        <div>Exp date</div>
        <div></div>
        <div></div>
    </div>

    <div *ngFor="let food of foods" class="foods-table">
            <div class="food-name">{{food.foodItemName}}</div>
            <div class="exp-date">{{food.expirationDate.toLocaleDateString()}}</div>
            <button class="delete-btn" (click)="deleteFood(food)">Delete item</button>
    </div>

    <input type="text" placeholder="enter food name..." #newFood>
    <input type="date"
       value= "2023-01-01"
       min="2020-01-01" #newDate>
    <button (click)="addFood(newFood.value,newDate.valueAsDate)">Add Food</button>

    <div>
      <h3>Search in the DB:</h3>
      <input type="text" placeholder="enter food name..." #foodToSearch>
      <button (click)="searchFood(foodToSearch.value)">Search</button>
    </div>

    <div>{{searchResult}}</div>
</div>
