<div class="intro-container">
    <div class="intro-headers">
      <h1>Welcome to Freshly</h1>
      <h3>Empowering fresh living through smart food management.</h3>
    </div>
    <p>Freshly is your ultimate companion for efficient and mindful food management. Our app simplifies the way you track, plan, and utilize your food items. With a user-friendly interface and an intelligent calendar, Freshly ensures that you never waste a meal or miss an expiration date. Take control of your fresh ingredients and embrace a healthier lifestyle with Freshly.</p>
    <a [routerLink]="['/foods']"><button type="button" class="btn btn-success">
      Start Here!</button></a>
  </div>

