* {
    font-family: 'Wix Madefor Display', sans-serif;
    padding: 0;
    margin:auto 1rem;
    box-sizing: border-box;
}

.intro-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    text-align: justify;
}

.intro-headers{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

p{
    font-size: 1.5rem;
}